@import url("https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap");

$orange: #f96d15;
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  max-width: 100%;
}
body {
  overflow: hidden scroll;
}
nav {
  position: sticky;
  top: 0;
  height: 10vh;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #141414;

  .nav-list {
    display: flex;
    flex-basis: 50%;

    justify-content: space-between;
    align-content: center;
  }

  a {
    font-family: "Patrick Hand", cursive;
    color: $orange;
    text-decoration: none;
    text-transform: uppercase;
  }
}

header {
  width: 100%;
  height: 100vh;
  .header--content {
    width: 100%;
    height: 100%;

    background-image: url("/img/car-wash-3960877_1920.jpg");
    background-position: center;
    background-size: cover;

    .title-container {
      background-color: rgba(white, 0.6);
      width: 100%;
      height: 100%;
      display: flex;

      justify-content: center;
      align-items: center;
      img {
        height: 50vh;
      }
    }
  }
}

main {
  .container {
    width: 100%;
    min-height: 40vh;

    border: solid 1px black;
    & + .container {
      margin-top: 1rem;
    }
  }
}
